@page "/addresses"

<h3>Addresses</h3>

<table class="table">    
    <tbody>        
        <tr>
            <td><SfButton CssClass="e-primary">Primary</SfButton></td>
            <td><Button Color="ButtonColor.Primary">Refresh list</Button></td>
            <td><Button Color="ButtonColor.Primary">Create Address</Button></td>            
        </tr>        
    </tbody>
 </table>

<table class="table">
    <thead>
        <tr>                        
            <th>Street name</th>
            <th>Street number</th>
            <th>Postal code</th>
            <th>City</th
            <th>Description</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>EDIT</td>
                <td>DELETE</td>
            </tr>
        
    </tbody>
 </table>

@code {
    /*
     @page "/addresses/{addressId}"
     
    }*/
}